body {
	background-color: white;
}

#nav-link {
	height:20%;
	position: relative;
	
	border-style:solid;
	border-width: 2px;
}

#pics {
	width: 100%;
	position: absolute;
	top: 25%;
	
	border-style:solid;
	border-width: 2px;
}

#nav-link ul {
	list-style-type:none;
	margin: 0em 0em;
	display:inline;
	
	border-style:solid;
	border-width: 1px;
}

#nav-link ul li {
	display:inline;
}

#nav-link ul li.title{
	width: 50%;
	border-style:solid;
	border-width:1px;
}

#nav-link ul li.link {
	color:black;
	border-style:dashed;
	border-width: 0.5px;
	float:right;
}

#nav-link a:link {
	text-decoration:none;
	color:black;
	/* padding: 0.5em 2em; */
	border-style:groove;
	border-width: 5px;
}

#nav-link a:visited{
	text-decoration:none;
	color:black;
}

#nav-link a:hover {
	text-decoration:none;
	color:gray;
	border-top-style:solid;
	border-left-style:solid;
	border-width:1px;
}
